<link rel="stylesheet" href="//origami-buildservice-qa.herokuapp.com/bundles/css?modules=o-fonts@^2.1.0" />
<div class="ft-email-sig" style="font-family: FinancierDisplayWeb, Georgia, 'Times New Roman', serif; background: #fff1e0; color: #333;">{{{body}}}</div>

